.section
  width: 100%
  border-top: 15px solid #E4B61B 

.header
  &__img
    padding: 15px
    max-width: 1127px
    margin: 0 auto
    img
      width: 100%
      height: auto
  &__title
    h1
      font-size: 4em
      a
        text-decoration: none
        color: #E4B61B
        span
          color: #000
  &__menu
    img
      width: 100%
      height: auto
  &__prise
    font-size: 3em
    position: relative
    width: 100%
    top: -120px
    span
      color: red
      font-weight: 700
.form
  font-size: 3em
  position: relative
  // top: -65px
  span
    color: #E4B61B
    padding-left: 10px
  button
    width: 200px
    &:hover
      cursor: pointer

.section-form
  position: relative
  top: -65px
  padding: 20px
  background-color: #f9f9f9
  border: 1px solid #E4B61B

.section-form-dop
  position: relative
  top: 65px
  padding: 20px
  background-color: #f9f9f9
  border: 1px solid #E4B61B  
.inputPhone // form input
  border: 1px solid #ccc
  width: 250px

.header__menu
  ul
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
    position: relative
    top: -76px
    li
      list-style: none
      text-decoration: none
.header__nav
  display: flex
  justify-content: start
  position: relative
  li
    // border: 1px solid black
    margin-left: 20px
    position: relative
    left: 126px
    a
      color: #fff
      border-bottom: 3px solid #E4B61B
      font-size: 1.5em
      &:hover
        border-bottom: 3px solid #fff
        text-decoration: none
        color: #E4B61B
  // orderPhone
.orderPhone
  color: #000
  background: #E4B61B
  border: none
  padding: 5px 20px
  border-radius: 50px
  &:hover
    cursor: pointer
    color: #fff
// dop info tex info
.section-dominfo
  position: relative
  top: 100px
.section-form-dopinfp
  position: relative
  top: 100px
// 

.description-docs
  flex: 4

.description-docs ul li
  margin: 30px 0
  padding-left: 45px
  height: 3rem
  display: flex
  align-items: center

.description-docs ul li a
  color: #3172b2
  text-decoration: none

.description-docs ul li a:hover
  color: #3172b2
  text-decoration: none

.description-docs ul li::before
  content: ''
  width: 32px
  height: 46px
  position: absolute
  margin-left: -44px
  margin-top: -3px

.description-docs ul li.doc::before
  background: url(../images/docs/doc.svg) no-repeat center
  background-size: contain

.description-docs ul li.jpg::before
  background: url(../img/teh/jpg.svg) no-repeat center
  background-size: contain

.description-docs ul li.pdf::before
  background: url(../img/teh/pdf.svg) no-repeat center
  background-size: contain
// footer
.footer
  background: url(../img/foo.jpg) center bottom no-repeat #fff
  height: 520px
  &__contact
    position: relative
    top: 410px
    right: 200px
    a
      color: red
      font-weight: 800
.bgadres
  background: #fff
  position: relative
  top: 300px
  width: 300px
  margin: 0 auto
  right: -390px
  padding: 20px
  border-radius: 10px
  opacity: 0.8
// galereya
.thumb
  img
    -webkit-filter: grayscale(0)
    filter: none
    border-radius: 5px
    background-color: #fff
    border: 3px solid #ddd
    padding: 5px


.thumb
  &:hover
    -webkit-filter: grayscale(1)
    filter: grayscale(1)
    border-radius: 5px
    background-color: #E4B61B
    border: 1px solid #E4B61B
    padding: 2px


.thumb 
    padding: 5px

.shema
  padding-top: 40px
  padding-bottom: 30px

// media

@media only screen and (max-width: 1024px)
  .bgadres
    right: -330px
@media only screen and (max-width: 770px)
  .header__menu
    img
      display: none
  ul.header__nav
    position: relative
    top: 10px
    left: -157px
    font-size: 13px
    a
      color: #000
  .media-h3
    h3
    font-size: 27px
    padding-top: 40px
  .bgadres
    right: -224px
  .header__prise
    font-size: 2em
    position: relative
    width: 100%
    top: -92px
@media only screen and (max-width: 430px)
  .bgadres
    right: 0
  .header__title
    font-size: 14px
  .text-right
    text-align: center
  ul.header__nav
    display: inline-block
  .header__prise
    font-size: 20px
    position: relative
    width: 100%
    top: -61px
  .section-form
    top: -39px
@media only screen and (max-width: 376px)

  ul.header__nav
    font-size: 12px
  .header__title
    font-size: 10px
  .header__prise
    font-size: 24px
    position: relative
    width: 100%
    top: -4px
  .form-group
    margin-bottom: 1rem
    font-size: 27px
  .section-form
    top: -10px
  .text-right
    font-size: 16px
    position: relative
    left: -40px
  .h3, h3
    font-size: 1rem
  .bgadres
    right: -34px
@media only screen and (max-width: 322px)
  ul.header__nav
    font-size: 12px
  .header__title
    font-size: 10px
  .header__prise
    font-size: 24px
    position: relative
    width: 100%
    top: -4px
  .form-group
    margin-bottom: 1rem
    font-size: 27px
  .section-form
    top: -10px
  .text-right
    font-size: 16px
    position: relative
    left: -40px
  .h3, h3
    font-size: 1rem
  .bgadres
    right: -34px