.section
  width: 100%
  border-top: 15px solid #E4B61B 

.header
  &__img
    padding: 15px
    img
      width: 100%
      height: auto
  &__title
    h1
      font-size: 4em 
  &__menu
    img
      width: 100%
      height: auto

.header__menu
    ul
      li
        list-style: none
        text-decoration: none
.header__nav
  display: flex
  justify-content: start
  position: relative
  li
    // border: 1px solid black
    margin-left: 20px
    position: relative
    top: -72px
    left: 126px
    a
      color: #fff
      border-bottom: 3px solid #E4B61B
      font-size: 1.5em
      &:hover
        border-bottom: 3px solid #fff
        text-decoration: none
        color: #E4B61B
        